/*Standard (Desktop)*/

  html{
    font-size: 16px;
  }

  /*Color Functions*/

  :root {
    --darkest: rgba(94, 86, 86, 1);
    --dark: rgba(73, 101, 123, 1);
    --medium: rgba(118, 180, 189, 1);
    --light: rgba(189, 234, 238, 1);
    --lightest: rgba(235, 244, 246, 1);
    --highlight: rgba(255, 239, 215, 1);
  }

  /*Body FontFaces*/

  header span{
    font-size: 1rem;
    font-family: "multi", helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-decoration: none;
  }

  header a, footer a, footer span{
    font-size: 1rem;
    font-family: "muli", helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
  }

  h1{
    font-size: 2.75rem;
    line-height: 1.2;
    font-family: "josefin slab", helvetica, serif;
    font-weight: 700;
  }

  h2{
    font-size: 2.5rem;
    line-height: 1.3;
    font-family: "josefin slab", helvetica, serif;
    font-weight: 700;
  }

  #banner h3{
    font-size: 1.5rem;
    line-height: 1.3;
    font-family: "muli", helvetica, sans-serif;
    font-weight: 400;
  }

  #banner a{
    font-size: 1.3rem;
    line-height: 1.3;
    font-family: "muli", helvetica, sans-serif;
    font-weight: 400;
  }

  h3{
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: "josefin slab", helvetica, serif;
    font-weight: 700;
  }

  p{
    font-size: 1rem;
    line-height: 1.3;
    font-family: "muli", helvetica, sans-serif;
    font-weight: 400;
  }

  a{
    font-size: 1rem;
    line-height: 1.3;
    font-family: "muli", helvetica, sans-serif;
    font-weight: 300;
    text-decoration: none;
  }

  .bold{
    font-weight: 700;
  }

  .upper{
    text-transform: uppercase;
  }

    /*Header*/

    header{
      display: flex;
      align-items: center;
      position: fixed;
      z-index: 5;
      height: 3.95rem;
      border-bottom: 0.05rem solid var(--lightest);
      width: 100%;
      background-color: var(--dark);
    }

    header .logo{
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-start;
      height: 2rem;
      padding: 0 1.5rem;
    }

    header .logo img{
      height: 2rem;
    }

    header .logo span{
      padding-left: 0.5rem;
      color: var(--lightest);
    }

    header nav{
      display: flex;
      justify-content: flex-end;
      padding: 0 1.5rem;
    }

    header nav ul{
      display: flex;
      align-items: center;
    }

    header nav ul li{
      display: block;
      padding-right: 1rem;
    }

    header a{
      color: var(--lightest);
    }

    header nav ul li:hover{
      text-transform: uppercase;
    }

    header nav ul li:last-child{
      padding-right: 0;
    }

    /*Main*/

      /*Banner Section*/

      #banner{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        top: 4rem;
        width: 100%;
        background-color: var(--medium);
      }

      #banner .left{
        display: block;
        overflow: hidden;
        width: 60%;
        padding: 2rem 1.5rem;
      }

      #banner .left img{
        display: block;
        height: auto;
        max-width: 100%;
      }

      #banner .right{
        display: block;
        padding-right: 1.5rem;
        margin-left: 2.5%;
        width: 37.5%;
      }

      #banner .right h1{
        color: var(--highlight);
        margin-bottom: 2rem;
      }

      #banner .right h3{
        color: var(--lightest);
        margin-bottom: 1.5rem;
      }

      #banner .right .button{
        display: block;
        text-align: center;
        width: 75%;
        color: white;
        padding: 0.5rem 0rem;
        background-color: var(--dark);
        color: var(--lightest);
        transition: all, 2s, ease-in-out, 1s;
      }

      #banner .right .button:hover{
        background-color: var(--highlight);
        color: var(--dark);
      }

      /*About Section*/

      #about{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        top: 4rem;
        width: 100%;
        background-color: var(--lightest);
      }

      #about p{
        color: var(--dark);
      }

      #about .left{
        display: block;
        overflow: hidden;
        width: 60%;
        padding: 2rem 1.5rem;
      }

      #about .left img{
        display: block;
        height: auto;
        max-width: 100%;
      }

      #about .left h2{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        color: var(--medium);
      }

      #about .right{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 40%;
        padding: 1rem 1.5rem 2rem 0rem;
      }

      #about .right .info-section{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
      }

      #about .right .info-section .image{
        width: 35%;
        padding: 1rem 1rem;
      }

      #about .right .info-section:first-child .image{
        padding-top: 1rem;
      }

      #about .right .info-section .image img{
        display: block;
        height: auto;
        max-width: 100%;
      }

      #about .right .info-section .text{
        width: 65%;
        padding-right: 1rem;
      }

      #about .right .info-section .text h3{
        color: var(--medium);
      }

      #about .right .info-section .text p{
        margin: 0.5rem 0rem;
        color: var(--dark);
      }

      #about .right .info-section .text a{
        color: var(--dark);
        font-style: italic;
      }

      #about .right .info-section .text a:hover{
        text-transform: uppercase;
        font-style: normal;
      }

      #about .right .info-section:last-child{
        background-color: var(--medium);
      }

      #about .right .info-section:last-child h3{
        color: var(--highlight);
      }

      #about .right .info-section:last-child p{
        color: var(--lightest);
      }

      #about .right .info-section:last-child a{
        color: var(--lightest);
      }

      /*Courses Section*/

      #courses{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 4rem;
        width: 100%;
        background-color: var(--medium);
      }

      #courses h2{
        text-align: center;
        margin: 2rem 0;
        color: var(--lightest);
      }

      #courses .course-list{
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: center;
        max-width: 100%;
        padding: 0 3.5rem 2rem 3.5rem;
      }

      #courses .course-list .course-block{
        width: 25%;
        margin: 0 1rem 2rem 1rem;
        background-color: var(--lightest);
        transition: background-color, 2s, ease-in-out, 0.5s;
      }

      #courses .course-list .course-block:hover{
        background-color: var(--highlight);
      }

      #courses .course-list .course-block .image{
        width: 100%;
      }

      #courses .course-list .course-block .image img{
        display: block;
        height: auto;
        max-width: 100%;
      }

      #courses .course-list .course-block .text{
        padding-left: 1rem;
        padding-right: 1rem;
      }

      #courses .course-list .course-block .text h3{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: var(--dark);
      }

      #courses .course-list .course-block .text .upper{
        color: var(--medium);
      }

      #courses .course-list .course-block .text p{
        margin-bottom: 0.5rem;
        color: var(--dark);
      }

      #courses .course-list .course-block .text p:last-child{
        margin-bottom: 1.5rem;
      }

      /*Thesis Section*/

      #thesis{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 4rem;
        width: 100%;
        background-color: var(--lightest);
      }

      #thesis h2{
        text-align: center;
        margin-top: 2rem;
        color: var(--medium);
      }

      #thesis .thesis-content{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
      }

      #thesis .thesis-content .left{
        display: block;
        overflow: hidden;
        width: 60%;
        padding: 2rem 1.5rem;
      }

      #thesis .thesis-content .left video{
        display: block;
        height: auto;
        max-width: 100%;
      }

      #thesis .thesis-content .left h3{
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        color: var(--medium);
      }

      #thesis .thesis-content .left p{
        color: var(--dark);
      }

      #thesis .thesis-content .right{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 40%;
        padding: 1rem 1.5rem 2rem 0rem;
      }

      #thesis .thesis-content .right .thesis-section{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        transition: all, 2s, ease-in-out, 1s;
      }

      #thesis .thesis-content .right .thesis-section .text{
        padding-right: 1rem;
      }

      #thesis .thesis-content .right .thesis-section:hover{
        background-color: var(--medium);
      }

      #thesis .thesis-content .right .thesis-section:hover .text h3{
        color: var(--highlight);
      }

      #thesis .thesis-content .right .thesis-section:hover .text p{
        color: var(--lightest);
      }

      #thesis .thesis-content .right .thesis-section .image{
        width: 35%;
        padding: 1rem 1rem;
      }

      #thesis .thesis-content .right .thesis-section .image img{
        display: block;
        height: auto;
        max-width: 100%;
      }

      #thesis .thesis-content .right .thesis-section .text{
        width: 65%;
        transition: all, 2s, ease-in-out, 1s;
      }

      #thesis .thesis-content .right .thesis-section .text h3{
        color: var(--medium);
      }

      #thesis .thesis-content .right .thesis-section .text p{
        margin: 0.5rem 0rem;
        color: var(--dark);
      }

    /*Footer*/

    footer{
      display: flex;
      align-items: center;
      position: relative;
      top: 4rem;
      width: 100%;
      background-color: var(--darkest);
    }

    footer .copyright{
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem 1.5rem;
      color: var(--lightest);
    }

    footer nav{
      display: flex;
      justify-content: flex-end;
      padding: 0 1.5rem;
    }

    footer nav ul{
      display: flex;
      align-items: center;
    }

    footer nav ul li{
      display: block;
      padding-right: 1rem;
    }

    footer nav ul li:hover{
      text-transform: uppercase;
    }

    footer nav ul li a{
      color: var(--lightest);
    }

    footer nav ul li:last-child{
      padding-right: 0;
    }

/*Transition to Mobile - Font-Size*/

@media only screen and (max-width: 1200px) {

  html{
    font-size: 15px;
  }

}

@media only screen and (max-width: 1024px) {

  html{
    font-size: 14px;
  }

}

@media only screen and (max-width: 900px) {

  html{
    font-size: 13px;
  }

}


/*Mobile*/

@media only screen and (max-width: 768px) {

  html{
    font-size: 12px;
  }

}
